// Colors
$black: #000;
$white: #fff;

$primary_color_1: #e9ab53; // hsl(35, 77%, 62%)
$primary_color_2: #f15e50; // hsl(5, 85%, 63%)

$off_white: #fffdfa; // hsl(36, 100%, 99%)
$grayish_blue: #c5c6ce; // hsl(233, 8%, 79%)
$dark_grayish_blue: #5d5f79; // hsl(236, 13%, 42%)
$very_dark_blue: #00001a; // hsl(240, 100%, 5%)